html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    font-family: "Playfair Display";
}

.container-fluid, .row {
    height: 100%;
}

.brand-heading {
    font-size: 30px;
    margin-left: 10%;
    padding-top: 50px;
    font-family: Cuprum;
}

@media(min-width: 768px) {
    .brand-heading {
        color: #efefef;
        padding-top: 40px;
        margin-left: 10%;
        font-size: 45px;
        font-family: Cuprum;
    }
}

#about {
    min-height:100%;

    background: url(../img/about.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#ti {
    min-height:100%;

    background: url(../img/ti.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#pool {
    min-height:100%;

    background: url(../img/pool.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#price {
    min-height:100%;

    background: url(../img/price.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#contact {
    min-height:100%;

    background: url(../img/contact.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*NAVBAR*/
a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-family: Cuprum;
    text-transform: uppercase;
    background-color: #000;
}

.navbar .navbar-brand {
    font-weight: 700;
}

.navbar .navbar-brand:focus {
    outline: 0;
}

.navbar .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar .navbar-brand .navbar-toggle:focus,
.navbar .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar a {
    color: #fff;
}

.navbar .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width: 768px) {
    .navbar {
        /*padding: 20px 0;*/
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar .top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}
/*NAVBAR*/


/*BTN-CIRCLE*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 12px;
    padding: 4px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.row a.btn {
    position: absolute;
    margin-left: 45%;
    bottom: 10%;
}
/*BTN-CIRCLE*/

/*BORDERS*/
.oval-thought-border {
  position:relative;
  padding:70px 30px;
  margin:1em auto 80px;
  border:10px solid #c81e2b;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:210px;
  right:-50px;
  width:50px;
  height:50px;
  border:10px solid #c81e2b;
  background:#fff;
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:235px;
  right:-68px;
  width:25px;
  height:25px;
  border:10px solid #c81e2b;
  background:#fff;
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}


.oval-thought-border-2 {
  position:relative;
  padding:70px 30px;
  margin:1em auto 80px;
  border:10px solid #c81e2b;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border-2:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:66px;
  right:-50px;
  width:50px;
  height:50px;
  border:10px solid #c81e2b;
  background:#fff;
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border-2:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:71px;
  right:-68px;
  width:25px;
  height:25px;
  border:10px solid #c81e2b;
  background:#fff;
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}


.oval-border {
  position:relative;
  padding:70px 30px;
  margin:1em auto 80px;
  border:10px solid #c81e2b;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/*BORDERS*/


@media (max-width: 480px) {
    .oval-border {
        font-size: 12px;
        padding: 40px 10px;
        margin: 1em auto 40px;
    }

    .oval-thought-border {
        font-size: 12px;
        padding: 40px 20px;
        margin: 1em auto 40px;
    }

    .oval-thought-border:before {
          bottom:140px;
    }

    .oval-thought-border:after {
          bottom:165px;
    }

    .oval-thought-border-2 {
        padding: 40px 10px;
        margin: 1em auto 40px;
        font-size: 12px;
    }



    .btn-circle {
        width: 35px;
        height: 35px;
        margin-top: 15px;
        padding: 1px 9px;
        border-radius: 25px;
        font-size: 20px;
    }

    .row a.btn {
        position: absolute;
        margin-left: 73%;
    }

    .oval-thought-border:after {
        display: none;
    }

    .oval-thought-border:before {
        display: none;
    }

    .oval-thought-border-2:after {
        display: none;
    }

    .oval-thought-border-2:before {
        display: none;
    }
}

@media (min-width: 768px) {
    .oval-border {
        font-size: 20px;
    }

    .oval-thought-border {
        font-size: 20px;
    }

    .oval-thought-border-2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 481px) and (orientation:portrait) {
    .col-xs-10 {
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media only screen and (max-device-width: 480px) {
}
@media only screen and (device-width:768px){
    /* default iPad screens */
}
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}